.content {
    max-width: 400px !important;
    margin: auto;
}

input {
    margin-bottom: 5px;
}

.form {
    padding: 20px;
    max-width: 350px;
    margin: auto;
    margin-bottom: 20px;
    padding-bottom: 0px !important;
}

.form > *{
    margin: 5px;
}
.form input {
    margin: 2px;
}
hr{
    margin: 15px 0px 15px 8px !important;
} 
.cancel {
    max-width: 310px;
    margin: auto;
}